body {
  background: #AA076B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #AA076B, #61045F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  margin: 0;
}

.generator {
  &__container {
  padding: 0.7% 4%;
  }
  &__button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
};

.loader {
  position: fixed;
  top: 40%;
  left: calc(50% - 62.5px)
}
