{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react"],
  "rules": {
    "no-plusplus": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
